<IfModule mod_mime.c>
  AddType application/javascript .js
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # NEVER rewrite built assets
  RewriteRule ^(assets|shared|favicon\.ico|projectEntry\.js) - [L]

  # Static project folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule . - [L]

  # SPA fallback (only homepage)
  RewriteRule ^$ /index.html [L]
</IfModule>
