@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');

@import "@/themes/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
